li {
    list-style-type: none;
    width: 33%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

li[data-type="drinks"] {
    background-color: rgb(255, 186, 58);
}

li[data-type="dairy"] {
    background-color: brown
}
